<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

idToDelete = request.forms.get("matchIDDelete")
dataOfID = database_io.returnIdData(idToDelete)

%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Confirm Deletion</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "recordMatch">Record</a>
            <a href = "viewData">View</a>
            <a href = "editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <h1>Confirm Data Deletion</h1>
        <div class = "gridData-Container">
            <div class = "gridData-Label">ID</div>
            <div class = "gridData-Item">{{dataOfID[0]}}</div>

            <div class = "gridData-Label">Match</div>
            <div class = "gridData-Item">{{dataOfID[1]}}</div>

            <div class = "gridData-Label">Team</div>
            <div class = "gridData-Item">{{dataOfID[2]}}</div>

            <div class = "gridData-Label">(AUTO) Low Score</div>
            <div class = "gridData-Item">{{dataOfID[3]}}</div>
            
            <div class = "gridData-Label">(AUTO) High Score</div>
            <div class = "gridData-Item">{{dataOfID[4]}}</div>
            
            <div class = "gridData-Label">(AUTO) Off Line</div>
            <div class = "gridData-Item">{{dataOfID[5]}}</div>

            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{dataOfID[6]}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{dataOfID[7]}}</div>
            
            <div class = "gridData-Label">Climb Spot</div>
            <div class = "gridData-Item">{{dataOfID[8]}}</div>
        </div>
        <form action = "storeEditDelete" method = "post">
            <input type = "hidden" name = "matchIDDelete" value = {{idToDelete}} />
            <button type = "submit">Delete</button>
        </form>
        <form action = "editDelete">
            <button type = "submit">Cancel</button>
        </form>
    </body>
</html>