<%
#Get all DB data
from db_interact import db_interactor
database_io = db_interactor()
allRecords = database_io.returnAllData()
%>
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Edit or Delete Data</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "recordMatch">Record</a>
            <a href = "viewData">View</a>
            <a href = "editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <h1>Edit and Delete Matches</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Match</th>
                <th>Team</th>
                <th>Auto<br>Low</th>
                <th>Auto<br>High</th>
                <th>Off<br>Line</th>
                <th>Tele<br>Low</th>
                <th>Tele<br>High</th>
                <th>Climb<br>Spot</th>
                <th class = "noPadding">Edit</th>
                <th class = "noPadding">Delete</th>
            </tr>
            %for match in allRecords:
            <tr>
                <td>{{match[0]}}</td>
                <td>{{match[1]}}</td>
                <td>{{match[2]}}</td>
                <td>{{match[3]}}</td>
                <td>{{match[4]}}</td>
                <td>{{match[5]}}</td>
                <td>{{match[6]}}</td>
                <td>{{match[7]}}</td>
                <td>{{match[8]}}</td>
                <td>
                    <form action = "inputEdit" method = "post">
                        <input type = "hidden" name = "matchIDEdit" value = {{match[0]}} />
                        <button type = "submit" class = "editButtons">Edit</button>
                    </form>
                </td>
                <td>
                    <form action = "confirmDelete" method = "post">
                        <input type = "hidden" name = "matchIDDelete" value = {{match[0]}} />
                        <button type = "submit" class = "deleteButtons">Delete</button>
                    </form>
                </td>
            </tr>
            %end
        </table>
    </body>
</html>