<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

idToEdit = request.forms.get("matchIDEdit")
oldRecord = database_io.returnIdData(idToEdit)
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Edit Data - Input</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <h1>Input New Data</h1>
        <form action = "storeEditDelete" method = "post" class = "inputform">
                <input type = "hidden" name = "matchIDEdit" value = {{idToEdit}} />

                <h2>Record Info</h2>
                <label for = "matchNumberForm" class = "inputLabels">Match</label>
                <input type = "number"
                id ="matchNumberForm"
                name = "matchNumberForm"
                min = "1"
                max = "100" 
                value = "{{oldRecord[1]}}"
                required/>
                <br>
            <!--TEAM NUMBER-->
                <label for = "teamNumberForm" class = "inputLabels">Team</label>
                <input type = "number"
                id ="teamNumberForm"
                name="teamNumberForm"
                min = "1"
                max = "10000" 
                value = "{{oldRecord[2]}}"
                required/>

                <h2>Auto Info</h2>
            <!--MOVED FROM START-->
                <label for = "movedOffLineForm" class = "inputLabels">Off Line?</label>
                <input type = "number"
                id ="movedOffLineForm"
                name = "movedOffLineForm"
                min = "0"
                max = "2" 
                value = "{{oldRecord[3]}}"
                required/>
                <br>

            <!--AUTO LOW GOAL SCORE-->
                <label for = "autoLowScoreForm" class = "inputLabels">Auto Low</label>
                <input type = "number"
                id ="autoLowScoreForm"
                name = "autoLowScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[4]}}"
                required/>
                <br>
            <!--AUTO HIGH GOAL SCORE-->
                <label for = "autoHighScoreForm" class = "inputLabels">Auto High</label>
                <input type = "number"
                id ="autoHighScoreForm"
                name = "autoHighScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[5]}}"
                required/>

                <h2>Teleop Info</h2>
            <!--TELEOP LOW GOAL SCORE-->
                <label for = "teleLowScoreForm" class = "inputLabels">Tele Low</label>
                <input type = "number"
                id ="teleLowScoreForm"
                name = "teleLowScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[6]}}""
                required/>
                <br>
            <!--TELEOP HIGH GOAL SCORE-->
                <label for = "teleHighScoreForm" class = "inputLabels">Tele High</label>
                <input type = "number"
                id ="teleHighScoreForm"
                name = "teleHighScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[7]}}"
                required/>
                <br>
            <!--CLIMB BAR POSITION-->
                <label for = "climbBarSpotForm" class = "inputLabels">Climb Spot</label>
                <input type = "number"
                id ="climbBarSpotForm"
                name = "climbBarSpotForm"
                min = "0"
                max = "15" 
                value = "{{oldRecord[8]}}"
                required/>
                <br>
                <button type = "submit">
                Submit Match
                </button>
                <br>
                <form action = "editDelete">
                    <button type = "submit">Cancel</button>
                </form>
        </form>
    </body>
</html>