<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

idToEdit = request.forms.get("matchIDEdit")
oldRecord = database_io.returnIdData(idToEdit)
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Edit Data - Input</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <h1>Input New Data</h1>
        <form action = "storeEditDelete" method = "post">
                <label for = "matchNumberForm">Match</label>
                <input type = "number"
                id ="matchNumberForm"
                name = "matchNumberForm"
                min = "1"
                max = "100" 
                value = "{{oldRecord[1]}}"
                required/>
            <!--TEAM NUMBER-->
                <label for = "teamNumberForm">Team</label>
                <input type = "number"
                id ="teamNumberForm"
                name="teamNumberForm"
                min = "1"
                max = "10000" 
                value = "{{oldRecord[2]}}"
                required/>
            <!--MOVED FROM START-->
                <label for = "movedOffLineForm">Off Line</label>
                <input type = "number"
                id ="movedOffLineForm"
                name = "movedOffLineForm"
                min = "0"
                max = "2" 
                value = "{{oldRecord[3]}}"
                required/>
            
            <!--AUTO LOW GOAL SCORE-->
                <label for = "autoLowScoreForm">Auto Low</label>
                <input type = "number"
                id ="autoLowScoreForm"
                name = "autoLowScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[4]}}"
                required/>
            <!--AUTO HIGH GOAL SCORE-->
                <label for = "autoHighScoreForm">Auto High</label>
                <input type = "number"
                id ="autoHighScoreForm"
                name = "autoHighScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[5]}}"
                required/>
            <!--TELEOP LOW GOAL SCORE-->
                <label for = "teleLowScoreForm">Tele Low</label>
                <input type = "number"
                id ="teleLowScoreForm"
                name = "teleLowScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[6]}}""
                required/>
            <!--TELEOP HIGH GOAL SCORE-->
                <label for = "teleHighScoreForm">Tele High</label>
                <input type = "number"
                id ="teleHighScoreForm"
                name = "teleHighScoreForm"
                min = "0"
                max = "100" 
                value = "{{oldRecord[7]}}"
                required/>
            <!--CLIMB BAR POSITION-->
                <label for = "climbBarSpotForm">Climb Spot</label>
                <input type = "number"
                id ="climbBarSpotForm"
                name = "climbBarSpotForm"
                min = "0"
                max = "15" 
                value = "{{oldRecord[8]}}"
                required/>
                <button type = "submit">
                Submit Match
                </button>
        </form>
    </body>
</html>