<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

#Whatever button that was not pressed previously returns "None"
idToEdit = request.forms.get("matchIDEdit")
idToDelete = request.forms.get("matchIDDelete")



%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Edit or Delete Data - Input</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <h1>ID TO EDIT IS {{idToEdit}}</h1>
        <h2>ID TO DELETE IS {{idToDelete}}</h2>

        %if idToEdit != None:
            <p1>You pressed the edit button!</p1>
        %end
        %if idToDelete != None:
            <p1>You pressed the delete button!</p1>
        %end
    </body>
</html>