<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Scouting - Menu</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
</head>
<body>
    <h1>Main Menu</h1>
    <p1>
        <!--<a href = "/recordMatch">Record Match</a><br>
        <a href = "/viewData">View Data</a><br>
        <a href = "/editDelete">Edit or Delete Data</a> -->
        <form action = "recordMatch">
            <button type = "submit">Record Match</button>
        </form>
        <form action = "viewData">
            <button type = "submit">View Data</button>
        </form>
        <form action = "editDelete">
            <button type = "submit">Edit or Delete Data</button>
        </form>
    </p1>
</body>
</html>