<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Record</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "menu">Menu</a>
            <a href = "recordMatchForm">Record</a>
            <a href = "/viewData/menu">View</a>
            <a href = "editDelete">Edit</a>
        </div>
        <h1>Insert Match Data</h1>
        <form action= "/storeData" method = "post" class = "inputform">
            <h2>Record Info</h2>
            <!--MATCH NUMBER-->
            <label for = "matchNumberForm" class = "inputLabels">Match</label>
            <input type = "number"
            id ="matchNumberForm"
            name = "matchNumberForm"
            min = "1"
            max = "100" 
            required/>
            <br>
            <!--TEAM NUMBER-->
            <label for = "teamNumberForm" class = "inputLabels">Team</label>
            <input type = "number"
            id ="teamNumberForm"
            name="teamNumberForm"
            min = "1"
            max = "10000" 
            required/>

            <h2>Auto Info</h2>
            <!--MOVED FROM START-->
            <label class = "inputLabels">Off line?</label>
            <!--Button for true-->
            <input type = "radio"
            id ="movedOffLineTrue"
            name="movedOffLineForm"
            value = 2 
            required/>
            <label for = "movedOffLineTrue">True</label>
            <!--Button for false-->
            <input type = "radio"
            id ="movedOffLineFalse"
            name="movedOffLineForm"
            value = 0 
            required/>
            <label for = "movedOffLineFalse">False</label>

            <br>
            <!--AUTO LOW GOAL SCORE-->
            <label for = "autoLowScoreForm" class = "inputLabels">Low goal</label>
            <input type = "number"
            id ="autoLowScoreForm"
            name = "autoLowScoreForm"
            min = "0"
            max = "100" 
            required/>
            <br>
            <!--AUTO HIGH GOAL SCORE-->
            <label for = "autoHighScoreForm" class = "inputLabels">High goal</label>
            <input type = "number"
            id ="autoHighScoreForm"
            name = "autoHighScoreForm"
            min = "0"
            max = "100" 
            required/>

            <h2>Teleop Info</h2>
            <!--TELEOP LOW GOAL SCORE-->
            <label for = "teleLowScoreForm" class = "inputLabels">Low goal</label>
            <input type = "number"
            id ="teleLowScoreForm"
            name = "teleLowScoreForm"
            min = "0"
            max = "100" 
            required/>
            <br>
            <!--TELEOP HIGH GOAL SCORE-->
            <label for = "teleHighScoreForm" class = "inputLabels">High goal</label>
            <input type = "number"
            id ="teleHighScoreForm"
            name = "teleHighScoreForm"
            min = "0"
            max = "100" 
            required/>
            <br>

            <!--CLIMB BAR POSITION-->
            <label class = "inputLabels">Climb Bar:</label>
            <!--Button for no climb-->
            <label for = "climbBarSpotNone" class = "radioLabels">
                <input type = "radio" id ="climbBarSpotNone" name="climbBarSpotForm" value = 0 required/>Didn't
            </label>
            <!--Button for low rung-->
            <label for = "climbBarSpotLow" class = "radioLabels">
                <input type = "radio" id ="climbBarSpotLow" name="climbBarSpotForm" value = 4 required/>Low
            </label>
            <!--Button for mid rung-->
            <label for = "climbBarSpotMid" class = "radioLabels">
                <input type = "radio" id ="climbBarSpotMid" name="climbBarSpotForm" value = 6 required/>Mid
            </label>
            <!--Button for high rung-->
            <label for = "climbBarSpotHigh" class = "radioLabels">
                <input type = "radio" id ="climbBarSpotHigh" name="climbBarSpotForm" value = 10 required/>High
            </label>
            <!--Button for traversal rung-->
            <label for = "climbBarSpotTraversal" class = "radioLabels">
                <input type = "radio" id ="climbBarSpotTraversal" name="climbBarSpotForm" value = 15 required/>Traversal
            </label>

            <br>
            <button type = "submit">
            Submit Match
            </button>
        </form>
    </body>
</html>