<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Scouting - Record</title>
</head>
<body>
    <h1>Insert Match Data</h1>
    <form action= "/storeData" method = "post">
    <p>
        <label for = "matchNumberForm">Match Number</label>
        <input type = "number"
        id ="matchNumberForm"
        name = "matchNumberForm"
        min = "1"
        max = "100" />
    </p>
    <p>
        <label for = "teamNumberForm">Team Number</label>
        <input type = "number"
        id ="teamNumberForm"
        name="teamNumberForm"
        min = "1"
        max = "10000" />
    </p>
    <p>
        <button type = "submit">
        Submit Match
        </button>
      </p>


    </form>
</body>

</html>