<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Record</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <h1>Insert Match Data</h1>
        <form action= "/storeData" method = "post" class = "inputform">
            <h2>Record Info</h2>
            <!--MATCH NUMBER-->
            <label for = "matchNumberForm" class = "inputLabels">Match</label>
            <input type = "number"
            id ="matchNumberForm"
            name = "matchNumberForm"
            min = "1"
            max = "100" 
            required/>
            <br>
            <!--TEAM NUMBER-->
            <label for = "teamNumberForm" class = "inputLabels">Team</label>
            <input type = "number"
            id ="teamNumberForm"
            name="teamNumberForm"
            min = "1"
            max = "10000" 
            required/>

            <h2>Auto Info</h2>
            <!--MOVED FROM START-->
            <label class = "inputLabels">Off line?</label>
            <!--Button for true-->
            <label for = "movedOffLineTrue">True</label>
            <input type = "radio"
            id ="movedOffLineTrue"
            name="movedOffLineForm"
            value = 2 
            required/>
            <!--Button for false-->
            <label for = "movedOffLineFalse">False</label>
            <input type = "radio"
            id ="movedOffLineFalse"
            name="movedOffLineForm"
            value = 0 
            required/>

            <br>
            <!--AUTO LOW GOAL SCORE-->
            <label for = "autoLowScoreForm" class = "inputLabels">Low goal</label>
            <input type = "number"
            id ="autoLowScoreForm"
            name = "autoLowScoreForm"
            min = "0"
            max = "100" 
            required/>
            <br>
            <!--AUTO HIGH GOAL SCORE-->
            <label for = "autoHighScoreForm" class = "inputLabels">High goal</label>
            <input type = "number"
            id ="autoHighScoreForm"
            name = "autoHighScoreForm"
            min = "0"
            max = "100" 
            required/>

            <h2>Teleop Info</h2>
            <!--TELEOP LOW GOAL SCORE-->
            <label for = "teleLowScoreForm" class = "inputLabels">Low goal</label>
            <input type = "number"
            id ="teleLowScoreForm"
            name = "teleLowScoreForm"
            min = "0"
            max = "100" 
            required/>
            <br>
            <!--TELEOP HIGH GOAL SCORE-->
            <label for = "teleHighScoreForm" class = "inputLabels">High goal</label>
            <input type = "number"
            id ="teleHighScoreForm"
            name = "teleHighScoreForm"
            min = "0"
            max = "100" 
            required/>
            <br>
            <!--CLIMB BAR POSITION-->
            <label class = "inputLabels">Climb Bar</label>
            <!--Button for no climb-->
            <label for = "climbBarSpotNone">Didn't</label>
            <input type = "radio"
            id ="climbBarSpotNone"
            name="climbBarSpotForm"
            value = 0 
            required/>
            <!--Button for low rung-->
            <label for = "climbBarSpotLow">Low</label>
            <input type = "radio"
            id ="climbBarSpotLow"
            name="climbBarSpotForm"
            value = 4 
            required/>
            <!--Button for mid rung-->
            <label for = "climbBarSpotMid">Mid</label>
            <input type = "radio"
            id ="climbBarSpotMid"
            name="climbBarSpotForm"
            value = 6 
            required/>
            <!--Button for high rung-->
            <label for = "climbBarSpotHigh">High</label>
            <input type = "radio"
            id ="climbBarSpotHigh"
            name="climbBarSpotForm"
            value = 10 
            required/>
            <!--Button for traversal rung-->
            <label for = "climbBarSpotTraversal">Traversal</label>
            <input type = "radio"
            id ="climbBarSpotTraversal"
            name="climbBarSpotForm"
            value = 15 
            required/>

            <br>
            <button type = "submit">
            Submit Match
            </button>
        </form>
    </body>
</html>