<%
from bottle import request
matchNumber = request.forms.get("matchNumberForm")
teamNumber = request.forms.get("matchNumberForm")
autoLowScore = request.forms.get("matchNumberForm")
autoHighScore = request.forms.get("matchNumberForm")
movedOffLine = request.forms.get("matchNumberForm")
teleLowScore = request.forms.get("matchNumberForm")
teleHighScore = request.forms.get("matchNumberForm")
climbBarSpot = request.forms.get("matchNumberForm")
%>

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Scouting - Confirmation</title>
</head>
<body>
    <h1>Your data was sent!</h1>
    <p>
        <a href = "/">Click to return to main menu</a>
    </p>
    <h2>The data you sent</h2>
    <p>
        Match: {{ matchNumber }}
    </p>
</body>
</html>