<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

matchNumber = request.forms.get("matchNumberForm")
teamNumber = request.forms.get("teamNumberForm")
autoLowScore = int(request.forms.get("autoLowScoreForm")) * 2
autoHighScore = int(request.forms.get("autoHighScoreForm")) * 4
movedOffLine = request.forms.get("movedOffLineForm")
teleLowScore = request.forms.get("teleLowScoreForm")
teleHighScore = int(request.forms.get("teleHighScoreForm")) * 2
climbBarSpot = request.forms.get("climbBarSpotForm")

#Check to make sure the match the data is going into does not have more than 6 teams in it
matchFull = False
matchData = database_io.returnMatchData(matchNumber)
numOfTeamsInMatch = len(matchData)
if (numOfTeamsInMatch >= 6):
    matchFull = True
end

#Check to make sure the team being entered isn't a duplicate in the match
teamDuplicate = False
for record in matchData:
    if record[2] == int(teamNumber):
        teamDuplicate = True
    end
end

#Only input data if it is not a duplicate or full match
if (matchFull == False):
    if(teamDuplicate == False):
        database_io.setMatchData(matchNumber, teamNumber, autoLowScore, autoHighScore, movedOffLine, teleLowScore, teleHighScore, climbBarSpot)
    end
end

%>

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Scouting - Confirmation</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
</head>
<body>
    %if (matchFull):
        <h1>Error! Data not Sent!</h1>
        <p>
            Match {{matchNumber}} is full! There are already 6 teams in it.
        </p>
    %elif (teamDuplicate):
        <h1>Error! Data not Sent!</h1>
        <p>
            The entered team {{teamNumber}} is already recorded in match {{matchNumber}}
        </p>
    %else:
        <h1>Your data was sent!</h1>
        <h2>The data you sent:</h2>
        <p>
            Match: {{ matchNumber }} <br>
            Team Number : {{ teamNumber }} <br>
            Moved from start in auto: {{ movedOffLine }} <br>
            Auto Low Goal Score: {{ autoLowScore }} <br>
            Auto High Goal Score: {{ autoHighScore }} <br>
            Teleoperated Low Goal Score: {{ teleLowScore}} <br>
            Teleoperated High Goal Score: {{ teleHighScore }} <br>
            What bar did they climb to: {{ climbBarSpot }}
        </p>
    %end
    <br>
    <form action = "recordMatch">
        <button type = "submit">Sumbit Another</button>
    </form>
    <br>
    <form action = "">
        <button type = "submit">Main Menu</button>
    </form>
</body>
</html>