<%
from bottle import request
matchNumber = request.forms.get("matchNumberForm")
teamNumber = request.forms.get("teamNumberForm")
autoLowScore = request.forms.get("autoLowScoreForm")
autoHighScore = request.forms.get("autoHighScoreForm")
movedOffLine = request.forms.get("movedOffLineForm")
teleLowScore = request.forms.get("teleLowScoreForm")
teleHighScore = request.forms.get("teleHighScoreForm")
climbBarSpot = request.forms.get("climbBarSpotForm")
%>

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Scouting - Confirmation</title>
</head>
<body>
    <h1>Your data was sent!</h1>
    <p>
        <a href = "/">Click to return to main menu</a>
    </p>
    <h2>The data you sent</h2>
    <p>
        Match: {{ matchNumber }} <br>
        Team Number : {{ teamNumber }} <br>
        Moved from start in auto: {{ movedOffLine }} <br>
        Auto Low Goal Score: {{ autoLowScore }} <br>
        Auto High Goal Score: {{ autoHighScore }} <br>
        Teleoperated Low Goal Score: {{ teleLowScore}} <br>
        Teleoperated High Goal Score: {{ teleHighScore }} <br>
        What bar did they climb to: {{ climbBarSpot }}
    </p>
</body>
</html>