body{
    background-color:silver;
}
h1{
    text-align: center;
    font-size: 2em;
}
/*BUTTONS*/
.menuButtons{
    font-size: 1.9em;
    margin: 0 auto;
    display: block;
    width: 80%; 
    background-color: crimson;
    color: lightgrey;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.editButtons{
    background-color:gold;
    color: black;
}
.deleteButtons{
    background-color:darkred;
    color: lightgrey;
}
/*FORMS*/
.inputform{
    background-color:lightgray;
    border: 5px solid crimson;
    border-radius: 1em;
    padding: 1em;
}
/*TABLE FORMATS*/
table{
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
th{
    vertical-align: bottom;
    padding-right: 1em;
    padding-left: 1em;
}
.noPadding{
    vertical-align: bottom;
    padding-right: 0;
    padding-left: 0;
    width: 0;
}
td{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
