body{
    background-color:silver;
}
h1{
    text-align: center;
}
.menuButtons{
    font-size:200%;
    margin: 0 auto;
    display: block;
    width: 80%; 
}
/*TABLE FORMATS*/
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    vertical-align: bottom;
    padding-right: 1em;
    padding-left: 1em;
}
td{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
