<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

matchNumber = request.forms.get("matchNumber")
teamNumber = request.forms.get("teamNumber")

results = database_io.returnTeamMatchData(matchNumber, teamNumber)
#Tell user if they robot moved from start
movedFromStart = "False"
if results[5] != 0:
    movedFromStart = "True"
end
#Tell user what bar the robot was on
barSpot = ""
if results[8] == 0:
    barSpot = "Didn't Climb"
elif results[8] == 4:
    barSpot = "Low Rung"
elif results[8] == 6:
    barSpot = "Mid Rung"
elif results[8] == 10:
    barSpot = "High Rung"
elif results[8] == 16:
    barSpot = "Traversal Rung"
end
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Individual Match Data Results</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "/recordMatch">Record</a>
            <a href = "/viewData">View</a>
            <a href = "/editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <h1>Results for {{teamNumber}} in Match {{matchNumber}}</h1>
        <p1>
            <div class = "gridData-Container">
                <div class = "gridData-Label">(AUTO) Low Score</div>
                <div class = "gridData-Item">{{results[3]}}</div>
                
                <div class = "gridData-Label">(AUTO) High Score</div>
                <div class = "gridData-Item">{{results[4]}}</div>
                
                <div class = "gridData-Label">(AUTO) Off Line</div>
                <div class = "gridData-Item">{{movedFromStart}} ({{results[5]}})</div>

                <div class = "gridData-Label">Low Score</div>
                <div class = "gridData-Item">{{results[6]}}</div>
                
                <div class = "gridData-Label">High Score</div>
                <div class = "gridData-Item">{{results[7]}}</div>
                
                <div class = "gridData-Label">Climb Spot</div>
                <div class = "gridData-Item">{{barSpot}} ({{results[8]}})</div>
                
            </div>
        </p1>
    </body>