<%
from db_interact import db_interactor
database_io = db_interactor()

#Get valid teams
teams = database_io.returnTeams()
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Individual Match Data</title>
    </head>
    <body>
        <h1>Individual Match Data</h1>
        <form action = "individualMatchChoose" method = "post">
            <!--INPUT FOR TEAM-->
            <select name = "teamNumber">
                %for team in teams:
                    <option value = "{{ teams }}">{{team}}</option>
                %end
            </select>
            
            <button type = "submit"> Next Page</button>

        </form>
    </body>
</html>