<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

teamNumber = request.forms.get("teamNumber")
teamInfo = database_io.returnTeamData(teamNumber)
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Individual Match Data</title>
    </head>
    <body>
        <h1>Select Match. DEBUG {{teamInfo}} TEAM NUMBER: {{teamNumber}} {{type(teamNumber)}}</h1>
        <form action = "individualMatchReceived" method = "post">
            <!--INPUT FOR MATCH-->
            <select name = "matchNumber">
                %for entry in teamInfo:
                    <option value = "{{ entry[1] }}">{{entry[1]}}</option>
                %end
            </select>

            <input type="hidden" name="teamNumber" value="{{teamNumber}}"/>

            <button type = "submit"> Request Data</button>

        </form>
    </body>
</html>

