<%
from db_interact import db_interactor
database_io = db_interactor()

results = database_io.returnAllData()
totalScore = 0
resultsWithTotal = []

for record in results:
    #Creates a list with the content of the original record tuple
    recordWithTotal = list(record)
    totalScore = record[3] + record[4] + record[5] + record[6] + record[7] + record[8] #Adds all points together
    #Adds total score to the new list
    recordWithTotal.append(totalScore)
    #Adds list to new list that contains records with totals
    resultsWithTotal.append(recordWithTotal)
end

sortedResults = sorted(resultsWithTotal, key = lambda x: int(x[9]), reverse=True)

%>
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Leaderboard</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "/recordMatch">Record</a>
            <a href = "/viewData">View</a>
            <a href = "/editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <h1>Leaderboard</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Match</th>
                <th>Team</th>
                <th>Auto<br>Low</th>
                <th>Auto<br>High</th>
                <th>Off<br>Line</th>
                <th>Tele<br>Low</th>
                <th>Tele<br>High</th>
                <th>Climb<br>Spot</th>
                <th>Total</th> 
            </tr>
            %for record in sortedResults:
                <tr>
                    <td>{{record[0]}}</td>
                    <td>{{record[1]}}</td>
                    <td>{{record[2]}}</td>
                    <td>{{record[3]}}</td>
                    <td>{{record[4]}}</td>
                    <td>{{record[5]}}</td>
                    <td>{{record[6]}}</td>
                    <td>{{record[7]}}</td>
                    <td>{{record[8]}}</td>
                    <td>{{record[9]}}</td>
                </tr>
            %end
        </table>
    </body>
</html>