<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

matchNumber = request.forms.get("matchNumber")
results = database_io.returnMatchData(matchNumber)

team0 = results[0]
team1 = results[1]
team2 = results[2]
team3 = results[3]
team4 = results[4]
team5 = results[5]

%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Match Data</title>
    </head>
    <body>
        <p1>
            Team: {{team0[2]}} Data: {{team0}}<br>
            Team: {{team1[2]}} Data: {{team1}}<br>
            Team: {{team2[2]}} Data: {{team2}}<br>
            Team: {{team3[2]}} Data: {{team3}}<br>
            Team: {{team4[2]}} Data: {{team4}}<br>
            Team: {{team5[2]}} Data: {{team5}}<br>
        </p1>
    </body>
</html>