<%
#Gets all valid matches the user can select from

from db_interact import db_interactor
database_io = db_interactor()

matches = database_io.returnMatches()
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Match Data</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "/recordMatch">Record</a>
            <a href = "/viewData">View</a>
            <a href = "/editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <h1>Select Match</h1>
        <form action = "matchReceived" method = "post" class = "selector">
            <!--INPUT FOR MATCH-->
            <select name = "matchNumber" required>
                %for match in matches:
                    <option value = " {{match}} ">{{match}}</option>
                %end
            </select>
            <button type = "submit">View Match</button>
        </form>
    </body>
</html>
