<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Match Data Menu</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <h1>Match Data Options</h1>
        <p1>
            <a href = "/viewData/individualMatch">View Individual Match Data</a> <br>
            <a href = "/viewData/match">View Match Data</a> <br>
            <a href = "/viewData/teamAverage">View Team's Average Data</a><br>
            <a href = "/viewData/teamMatches">View All of a Team's Matches Data</a><br>
            <a href = "/viewData/leaderboard">Leaderboard</a>

        </p1>
    </body>
</html>