<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

teamNumber = request.forms.get("teamNumber")

results = database_io.returnTeamData(teamNumber)

runs = 0

autoLowScore = 0
autoHighScore = 0
movedOffLine = 0
teleLowScore = 0
teleHighScore = 0
climbBarSpot = 0

bestMatchScore = 0
bestMatchID = 0
worstMatchScore = 900
worstMatchID = 0

#Gets total score
for match in results:
    #Finds avg match
    runs = runs + 1
    autoLowScore = autoLowScore + match[3]
    autoHighScore = autoHighScore + match[4]
    movedOffLine = movedOffLine + match[5]
    teleLowScore = teleLowScore + match[6]
    teleHighScore = teleHighScore + match[7]
    climbBarSpot = climbBarSpot + match[8]
    
    matchTotal = match[3] + match[4] + match[5] + match[6] + match[7] + match[8]
    
    #Finds best match
    if (matchTotal > bestMatchScore):
        bestMatchScore = matchTotal
        bestMatchID = match[0]
    end

    #Finds worst match
    if (matchTotal < worstMatchScore):
        worstMatchScore = matchTotal
        worstMatchID = match[0]
    end

bestMatch = database_io.returnIdData(bestMatchID)
worstMatch = database_io.returnIdData(worstMatchID)


end
#Turns totals into averages
autoLowScore = autoLowScore/runs
autoHighScore = autoHighScore/runs
movedOffLine = movedOffLine/runs
teleLowScore = teleLowScore/runs
teleHighScore = teleHighScore/runs
climbBarSpot = climbBarSpot/runs
%>


<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Average Team Data</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "/recordMatch">Record</a>
            <a href = "/viewData">View</a>
            <a href = "/editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <h1> {{teamNumber}}'s Average Stats</h1>
        <div class = "gridData-Container">
            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{round(autoLowScore,3)}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{round(autoHighScore,3)}}</div>
            
            <div class = "gridData-Label">Off Line</div>
            <div class = "gridData-Item">{{round(movedOffLine,3)}}</div>

            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{round(teleLowScore,3)}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{round(teleHighScore,3)}}</div>
            
            <div class = "gridData-Label">Climb Spot</div>
            <div class = "gridData-Item">{{round(climbBarSpot,3)}}</div>
        </div>

        <h1> {{teamNumber}}'s Best Match ({{bestMatch[1]}})</h1>
        <div class = "gridData-Container">
            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{bestMatch[3]}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{bestMatch[4]}}</div>
            
            <div class = "gridData-Label">Off Line</div>
            <div class = "gridData-Item">{{bestMatch[5]}}</div>

            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{bestMatch[6]}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{bestMatch[7]}}</div>
            
            <div class = "gridData-Label">Climb Spot</div>
            <div class = "gridData-Item">{{bestMatch[8]}}</div>
        </div>

        <h1> {{teamNumber}}'s Worst Match ({{worstMatch[1]}})</h1>
        <div class = "gridData-Container">
            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{worstMatch[3]}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{worstMatch[4]}}</div>
            
            <div class = "gridData-Label">Off Line</div>
            <div class = "gridData-Item">{{worstMatch[5]}}</div>

            <div class = "gridData-Label">Low Score</div>
            <div class = "gridData-Item">{{worstMatch[6]}}</div>
            
            <div class = "gridData-Label">High Score</div>
            <div class = "gridData-Item">{{worstMatch[7]}}</div>
            
            <div class = "gridData-Label">Climb Spot</div>
            <div class = "gridData-Item">{{worstMatch[8]}}</div>
        </div>
    </body>
</html>