<%
from db_interact import db_interactor
database_io = db_interactor()

#Get valid teams
teams = database_io.returnTeams()
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Average Team Data</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <div class = "navBar">
            <a href = "/">Menu</a>
            <a href = "/recordMatch">Record</a>
            <a href = "/viewData">View</a>
            <a href = "/editDelete">Edit</a>
            <a href = "https://github.com/Derp88/computing1Final" class = "aRight">Source</a>
        </div>
        <!--Please note this file is basically the same as individualMatch, because it has about the same task. Just different result-->
        <h1>Average Team Data</h1>
        <form action = "teamAverageReceived" method = "post" class = "selector">
            <!--INPUT FOR TEAM-->
            <select name = "teamNumber" required>
                %for team in teams:
                    <option value = "{{ team }}">{{team}}</option>
                %end
            </select>
            
            <button type = "submit">Next Page</button>

        </form>
    </body>
</html>