<%
from bottle import request
from db_interact import db_interactor
database_io = db_interactor()

teamNumber = request.forms.get("teamNumber")

results = database_io.returnTeamData(teamNumber)

%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Team Matches Data</title>
        <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    </head>
    <body>
        <h1>{{teamNumber}}'s data</h1>
        <table>
            <tr>
                <th>Match</th>
                <th>Auto<br>Low</th>
                <th>Auto<br>High</th>
                <th>Off<br>Line</th>
                <th>Tele<br>Low</th>
                <th>Tele<br>High</th>
                <th>Climb<br>Spot</th>
            </tr>
            %for match in results:
                <tr>
                    <td>match[1]</td>
                    <td>match[3]</td>
                    <td>match[4]</td>
                    <td>match[5]</td>
                    <td>match[6]</td>
                    <td>match[7]</td>
                    <td>match[8]</td>
                </tr>
            %end
        </table>
    </body>
</html>