<%
from db_interact import db_interactor
database_io = db_interactor()

#Get valid teams
teams = database_io.returnTeams()
%>

<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Scouting - Average Team Data</title>
    </head>
    <body>
        <!--Please note this file is basically the same as individualMatch, because it has about the same task. Just different result-->
        <h1>Average Team Data</h1>
        <form action = "teamAverageReceived" method = "post">
            <!--INPUT FOR TEAM-->
            <select name = "teamNumber" required>
                %for team in teams:
                    <option value = "{{ team }}">{{team}}</option>
                %end
            </select>
            
            <button type = "submit">Next Page</button>

        </form>
    </body>
</html>